.pagination {
  ul {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }

  li {
    cursor: pointer;
    display: inline;
    float: left;
    padding: 8px 16px;
    margin: 0 2px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;

    &.active {
      background-color: #4CAF50;
      color: white;
      border-radius: 5px;
    }

    &:hover:not(.active,.disabled) {
      background-color: #ddd;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}
